/* Estilos para la página principal */
.pagina-principal {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.pagina-principal table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.pagina-principal td {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagina-principal td img {
    border-radius: 10px;
    transition: transform 0.2s;
}

.pagina-principal td img:hover {
    transform: scale(1.05);
}

.pagina-principal tr:nth-child(even) {
    background-color: #f9f9f9;
}

.pagina-principal tr:nth-child(odd) {
    background-color: #ffffff;
}

/* Estilos para la página de base de datos */
.pagina-base-datos {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

.pagina-base-datos h1,
.pagina-base-datos h2,
.pagina-base-datos h3 {
    color: #ba4a00;
}

.pagina-base-datos ul,
.pagina-base-datos ol {
    margin: 10px 0;
    padding-left: 20px;
}

.pagina-base-datos pre {
    background-color: #fef9e7;
    padding: 10px;
    border: 1px solid #fef9e7;
    overflow-x: auto;
}

.pagina-base-datos img {
    max-width: 100%;
    height: auto;
    border: 5px solid #f39c12; /* Borde amarillo */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra suave */
    border-radius: 10px; /* Esquinas redondeadas */
    margin-bottom: 20px; /* Margen inferior para separación */
}